.sec__insomnia {
  padding: 10px;
  margin-top: 45px;
}
.sec__insomnia__small {
  font-size: 14px;
}
.sec__insomnia__h2 {
  font-size: 24px;
  text-transform: capitalize;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.sec__insomnia__text {
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a;
  text-align: center;
}

.sec__reasons {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
.sec__reasons__tittle3 {
  font-size: 45px;
  text-transform: capitalize;
  height: 30px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.reasons_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.article {
  text-decoration: none;
  border: 4px solid orange;
  text-align: center;
  align-items: center;
  width: 150px;
}
.link2 {
  text-decoration: none;
  text-transform: uppercase;
}
.article__text {
  padding-left: 4.3rem;
  padding-right: 4.4rem;
  text-align: center;
  font-size: 19px;
}

.tittle4 {
  font-size: 18px;
  color: black;
  font-family: 'Roboto Slab', serif;
}

.div__more {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

@media all and (min-width: 768px) {
  .article {
    width: 200px;
  }
  .sec__insomnia {
    padding: 50px;
    margin-top: 0px;
  }
  .sec__insomnia__h2 {
    font-size: 26px;
  }
  .sec__insomnia__text {
    font-size: 20px;
  }
  .sec__reasons {
    display: flex;
    flex-direction: column;
  }
  .sec__reasons__tittle3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 26px;
  }

  .article__text {
    font-size: 20px;
    padding-left: 0rem;
    padding-right: 0.2rem;
  }
  .tittle4 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media all and (min-width: 1200px) {
  .article {
    width: 300px;
  }
  .sec__insomnia {
    padding-left: 18.1rem;
    padding-right: 18.1rem;
  }
  .sec__insomnia__go {
    width: 165px;
    margin-bottom: 40px;
  }
  .sec__insomnia__h2 {
    font-size: 32px;
  }
  .sec__reasons {
    padding-right: 40px;
    padding-left: 40px;
  }
  .sec__reasons__tittle3 {
    font-size: 32px;
  }
  .article__text {
    padding-bottom: 40px;
    font-size: 20px;
  }
  .more_reasons {
    width: 255px;
  }
}
